/* General styling */
.app-link {
  color: #61dafb;
}

/* Navigation */
.app-logo {
  height: 2.5rem;
  align-self: center;
}

#nav {
  display: flex;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 2rem;
  height: 2rem;
}

.nav-list {
  display: flex;
  overflow: hidden;
  list-style-type: none;
  line-height: 1.5rem;
}

.nav-list a {
  display: block;
  color: #fff;
}

.nav-list a:hover {
  color: #666;
}

.nav-list a {
  padding: 1rem 2rem;
}

/* Pages */
.page {
  background-color: transparent;
  min-height: 100vh;
  margin: 0 5%;
}

/* Title */
#title {
  padding: 100px 0;
}

.title-text {
  font-size: 3.5rem;
  font-weight: 700;
}

/* Projects */
.project-thumbnail {
  padding-bottom: 6rem;
}

.project-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.project-thumbnail img:hover {
  opacity: 0.67;
}

.project-title {
  align-self: center;
  margin: 0;
}