.noselect {
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.app {
  background-color: #333;
  text-align: center;
}

.app-link {
  color: #61dafb;
}

.app-logo {
  height: 32px;
  align-self: center;
  margin: 0 20px 0 12px;
}

#navigation {
  display: flex;
  background-color: #222;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
}

.navigation-list li a {
  display: block;
  color: white;
}

.navigation-list li:hover{
  /* background-color: #111; */
  opacity: 67%;
}

#navigation-links {
  
}

#navigation-links li a {
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#navigation-icons {
  margin-left: auto;
  margin-right: 12px;
}

#navigation-icons li a {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
